@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 14px;
}
:root{
        --linear-gradiant:linear-gradient(to right, #4458dc 0%, #854fee 100%);
        --radial-gradiant:radial-gradient(circle at top left, #4458dc, #854fee);
        --white-gradiant:linear-gradient(#ffffff, #ffffff);
        --violet: #854fee;
        --sky:#4458dc;
}
body{
        background: url("../image/body-bg.png") no-repeat center;
        background-position-x: center;
        background-position-y: center;
        background-size: initial;
        background-repeat: no-repeat;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
    

}
button,a,h1,h3,h4,h5,h6{
        font-family: "Rubik",sans-serif;
        text-transform: uppercase;
        text-decoration: none;
}
.banner_area h2{
        font-size: 2.2rem;
        font-weight: 700;
        color: #000000;
        margin-bottom: 15px;
        text-transform: uppercase;
}
h5,p{
        margin: 0;
        padding: 0;
        line-height: 26px;
        position: relative;
}
                /* navbar */
.navbar a{
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        color: black;
}
.navbar a:hover{
        color:var(--sky);
}
.navbar a:active{
        color: var(--sky);
}
.logo a{
        display: inline-block;
        font:2.5rem "Rubik",sans-serif;
        font-weight: 900;
        background:var(--linear-gradiant);
        background-clip: text;
        -webkit-text-fill-color: transparent;
}
.logo a::before{
        content: "";
        background: var(--violet);
        position: absolute;
        border-radius: 5px;
        width: 10px;
        height: 10px;
        display: block;
        left: 200px;
}
                /* banner */
.banner_area{
        padding-bottom: 12.5rem;
}

.banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 485px;
    background: url(../image/banner/common-banner.png) no-repeat right bottom;
    background-size: 90% 85%;
    width: 98%;
    z-index: 1;
}
.banner_content a{
        text-transform: none;
        color: #ffffff;
}
        /* category */

.category_post img {
    max-width: 100%;
}


.category_post {
    position: relative;
    text-align: center;
    cursor: pointer;
}
.category-detail{
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        background: rgba(34, 34, 34, 0.8);
        color: #fff;
        transition: all 0.3s linear;
        display: flex;
        align-items: center;
        justify-content: center;
}
img{
        width: 100%;
}
.category-text{
        position: relative;
}
.border-line{
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #fff;
}
/* blog */
.blog-item a{
        display: inline-block;
        text-transform: none;
        padding-bottom: 10px;
}
.primary_btn {
        display: inline-block;
        color: #fff;
        letter-spacing: 0px;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 46px;
        outline: none !important;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
        border-radius: 5px;
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-image: var(--linear-gradiant);
        border: double 2px transparent;
        box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3); 
}
.primary_btn:hover {
        background-image: var(--white-gradiant), var(--radial-gradiant);
        border: 2px solid #854fee;
        color: #222222;
        box-shadow: none;
        background-clip: border-box; }
.btns {
        width: 12.9rem;
}
.blog-detail a{
        padding: 0;
        text-transform: uppercase;
}
.blog-post h2{
font: 24px "Rubik",sans-serif;
font-weight: 700;
}
li .actives{
background: var(--linear-gradiant);
}
.page-item .act{
        background: var(--linear-gradiant);
}
.page-link:hover{
        background: var(--linear-gradiant);
}

        /* right side */
.blog-rightside {
        border: 1px solid #eeeeee;
        background: #fafaff;
        padding: 30px;
    }
        /* search */
.form{
position: relative;
max-width: 100%;
}

.form button{
        border: none;
        width: 5px;
        height: 5px;
        position: absolute;
        aspect-ratio: 1;
        right: 47px;
        top: 36px;
}
.social-icon i{
        color: #000000;
}
.br{
        width: 100%;
        height: 1px;
        background: #eeeeee;
        margin: 30px 0px;
}
.single-sidebar{
        padding:30px ;
}
.widget-title{
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #fff;
        padding: 8px 0px;
        margin-bottom: 30px;
        background: var(--linear-gradiant);
        text-transform: none;
}

.media-body h3{
        font-size: 14px;
        text-transform: none;
        margin-top:5px ;
        margin-bottom: 0;
}
.category-item{
        border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
}
.form-subcribe{
        position: relative;
        max-width: 100%;
}
.input-icon{
        position: absolute;
        left: 10px;
        top: 9px;
        font-size:10px ;
}
.form-subcribe>.btns a{
        padding: 0;
        line-height: 32px;
        color: #fff;
        background: var(--linear-gradiant);
}
.list-category a{
        color: black;
        border: 1px solid rgba(58, 58, 58, 0.361);
        padding:4px 10px;
        margin: 5px;
        background: #fff;
        font-size: 12px;
        font-family: "Roboto",sans-serif;
}
.list-category a:hover{
        background: var(--linear-gradiant);
        color: #fff;
}
.footer{
        background-image: url(/assets/image/footer-bg.png) center no-repeat;

}

.footer-social i{
        font-size: 1.5rem;
        color: #777777;
}
.logo-footer a{
        font: 2.3rem "Rubik",sans-serif;
        font-weight: 900;
        background:var(--linear-gradiant);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
}
.logo-footer a::before{
        content: "";
        background: var(--violet);
        position: absolute;
        border-radius: 50%;
        width: 7px;
        height: 7px;
        display: block;
        left: 11rem;
}