@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 14px;
}
:root{
        --linear-gradiant:linear-gradient(to right, #4458dc 0%, #854fee 100%);
        --radial-gradiant:radial-gradient(circle at top left, #4458dc, #854fee);
        --white-gradiant:linear-gradient(#ffffff, #ffffff);
        --violet: #854fee;
        --sky:#4458dc;
}
body{
        background: url("../image/body-bg.png") no-repeat center;
        background-position-x: center;
        background-position-y: center;
        background-size: initial;
        background-repeat: no-repeat;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
    

}
button,a,h1,h2,h3,h4,h5,h6{
        font-family: "Rubik",sans-serif;
        text-transform: uppercase;
        text-decoration: none;
}
h2{
        font-size: 2.2rem;
        font-weight: 700;
        color: #000000;
        margin-bottom: 15px;
}
p{              
        color: #777777;
}
.navbar a{
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        color: black;
}
.navbar a:hover{
        color:var(--sky);
}
.navbar a:active{
        color: var(--sky);
}
.logo a{
        display: inline-block;
        font:2.5rem "Rubik",sans-serif;
        font-weight: 900;
        background:var(--linear-gradiant);
        background-clip: text;
        -webkit-text-fill-color: transparent;
}
.logo a::before{
        content: "";
        background: var(--violet);
        position: absolute;
        border-radius: 5px;
        width: 10px;
        height: 10px;
        display: block;
        left: 200px;
}

.banner_area{
        padding-bottom: 12.5rem;
}

.banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 485px;
    background: url(../image/banner/common-banner.png) no-repeat right bottom;
    background-size: 90% 85%;
    width: 98%;
    z-index: 1;
}
.banner_content a{
        text-transform: none;
        color: #ffffff;
}

.primary_btn {
        display: inline-block;
        color: #fff;
        letter-spacing: 0px;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 46px;
        outline: none !important;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
        border-radius: 5px;
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-image: var(--linear-gradiant);
        border: double 2px transparent;
        box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3); 
}
.primary_btn:hover {
        background-image: var(--white-gradiant), var(--radial-gradiant);
        border: 2px solid #854fee;
        color: #222222;
        box-shadow: none;
        background-clip: border-box; }
.btns{
        width: 12.9rem;
}
.form-group{
        padding-bottom: 10px;
}
.info_item{
        display: flex;
}
.info_item h6{
        text-transform: none;
        font-weight: 700;
}
.info_item i{
        display: flex;
        font-size: 1.5rem;
        color: var(--violet);
        padding-right: 10px;
}



.footer{
        background-image: url(/assets/image/footer-bg.png) center no-repeat;

}

.footer-social i{
        font-size: 1.5rem;
        color: #777777;
}
.logo-footer a{
        font: 2.3rem "Rubik",sans-serif;
        font-weight: 900;
        background:var(--linear-gradiant);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
}
.logo-footer a::before{
        content: "";
        background: var(--violet);
        position: absolute;
        border-radius: 50%;
        width: 7px;
        height: 7px;
        display: block;
        left: 11rem;
}
.contact_area{
        padding-bottom: 5rem;
}
.map{
        padding-bottom: 12rem;
}