@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 14px;
}
:root{
        --linear-gradiant:linear-gradient(to right, #4458dc 0%, #854fee 100%);
        --radial-gradiant:radial-gradient(circle at top left, #4458dc, #854fee);
        --white-gradiant:linear-gradient(#ffffff, #ffffff);
        --violet: #854fee;
        --sky:#4458dc;
}
body{
        background: url("../image/body-bg.png") no-repeat center;
        background-position-x: center;
        background-position-y: center;
        background-size: initial;
        background-repeat: no-repeat;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
    

}
button,a,h1,h2,h3,h4,h5,h6{
        font-family: "Rubik",sans-serif;
        text-transform: uppercase;
        text-decoration: none;
}
h2{
        font-size: 2.2rem;
        font-weight: 700;
        color: #000000;
        margin-bottom: 15px;
}
p{              
        color: #777777;
}
.navbar a{
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        color: black;
}
.navbar a:hover{
        color:var(--sky);
}
.navbar a:active{
        color: var(--sky);
}
        /* Home Banner */
/* .home-banner{
        background: ("../image/banner/home-banner.png") no-repeat top center;
        background-image: url(../image/banner/home-banner.png);
        background-position-x: center;
        background-position-y: top;
        background-size: initial;
        background-repeat: no-repeat;
        background-attachment: initial;
        background-origin: initial;     
        background-clip: initial;
        background-color: initial;
        background-position: center;
        background-size: cover;
        order: 1;
} */
.home-banner h3::after{
        content: "";
        position: absolute;
        top: 25px;
        left: 150px;
        height: 2px;
        width: 300px;
        background: #222222;
        display: inline;
}
.logo a{
        display: inline-block;
        font:2.5rem "Rubik",sans-serif;
        font-weight: 900;
        background:var(--linear-gradiant);
        background-clip: text;
        -webkit-text-fill-color: transparent;
}
.logo a::before{
        content: "";
        background: var(--violet);
        position: absolute;
        border-radius: 5px;
        width: 7px;
        height: 7px;
        display: block;
        left: 13rem;
}
        /* btn */
.primary_btn {
        display: inline-block;
        color: #fff;
        letter-spacing: 0px;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 46px;
        outline: none !important;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
        border-radius: 5px;
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-image: var(--linear-gradiant);
        border: double 2px transparent;
        box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3); }
        .primary_btn span {
          padding: 0 42px; 
        }
          .primary_btn:hover {
                background-image: var(--white-gradiant), var(--radial-gradiant);
                border: 2px solid #854fee;
                color: #222222;
                box-shadow: none;
                background-clip: border-box; }
          /* transparent btn */
        .primary_btn.tr-bg {
          background-image: var(--white-gradiant), var(--radial-gradiant);
          border: 2px solid transparent;
          color: #222222;
          box-shadow: none; }
          .primary_btn.tr-bg:hover {
            background-image: var(--linear-gradiant), var(--radial-gradiant);
            border: double 2px transparent;
            color: #ffffff;
            box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3); }
      /* hero */
.hero img{
        width: 100%;
        height: 100%;
}
@media screen and (max-width: 992px) {
        .hero,.home-banner .primary_btn{
                display: none;
        }
        br{
                display: none;
        }
      }
@media screen and (max-width: 600px) {
        .home-banner h3::after{
                display: none;
        }
}
                /* end of homebanner */
                /* brand section */
.brand-box{
        display: flex;
        width: 170px;
        height: 100px;
        border: #eeeeee solid 1px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 0 15px;
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;

}
@media only screen and (max-width: 767px) {
        .brand-box {
          height: 100px;
          width: 140px; } }
      @media (max-width: 575px) {
        .brand-box {
          margin: 0px auto;
          margin-bottom: 30px; } }
      .brand-box .d-table-cell {
        vertical-align: middle; }
      .brand-box img {
        max-width: 80px;
        margin: 0 auto;
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s; }
        @media only screen and (max-width: 767px) {
          .brand-box img {
            max-width: 100px; } }
      .brand-box:hover {
        border: 1px solid transparent;
        box-shadow: 0px 8px 30px rgba(118, 85, 225, 0.15); }
        .brand-box:hover img {
          filter: brightness(0%);
          -o-filter: brightness(0%);
          -ms-filter: brightness(0%);
          -moz-filter: brightness(0%);  
          -webkit-filter: brightness(0%); }
.large{
        font:100px "Rubik",sans-serif;
        font-weight: 900;
        color: var(--violet);
        position: relative;
}
.large::before{
        content: url(/assets/image/client-info-bg.png);
        position: absolute;
        top: -35px;
        left: -80px;
        z-index: -1;
}
.small{
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 500;
        margin-left: 20px;
}
.client-info{
        background: #faf8ff;
}
.contact p{
        font: 16px "Roboto",sans-serif;
        font-weight: 400;
        color: var(--violet);
        text-transform: uppercase;
}
.call-now {
        padding-top: 50px;
        text-align: left;
        margin-bottom: 40px;
 }
  @media (max-width: 575px) {
    .call-now {
      padding-top: 0px; } }
  @media (max-width: 480px) {
    .call-now h3 {
      font-size: 17px; } }
  .call-now p {
    color: #854fee;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px; }
  .call-now span {
    font-size: 60px;
    font-weight: 700;
    color: #000000;
    padding-right: 10px;
 }

                /* service */
.feature-item{
        background: #f9f9fd;;
        text-align: center;
        padding: 45px 25px;
        margin: 10px;
        margin-bottom: 30px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}
.feature-item img{
        margin-bottom: 35px;
}
.feature-item h4{
        margin-bottom: 20px;
}
.feature-item:hover{
background: #ffffff;
box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
}

                /* portfolio */
.btn-container{
        font-family: "Roboto";
        font-weight: 900;
}
.active-btn{
        cursor: pointer;
        color: #854fee;
}

.scroller{
        max-width: 1000px;
        /* height: 200px; */
}
.scroll-item{
        width: 555px;
        padding: 20px 20px;
        margin-bottom: 20px;
        margin-left:20px;
        margin: 0px 10px 80px;
        box-shadow: 0px 15px 30px 0px rgba(221, 221, 221, 0.3);
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
}
.scroller[data-animated=true]{
        width: max-content;
        overflow: hidden;
        -webkit-mask:linear-gradiant(90deg,transparent,rgb(255, 255, 255) 20%,rgb(255, 255, 255) 80%,transparent);
        mask:linear-gradiant(90deg,transparent,rgb(255, 255, 255));
}
.scroller[data-animated=true] .scroll-item{
        animation:scroll 30s linear infinite;
}
@keyframes scroll{
        to{
                transform: translate(-100%);
        }
}

/* new-letter */
.subcribe{
        width: 73rem;
        height: 30rem;
        background-image: url(/assets/image/subscribe-bg.png);
}
.form-subscription input{
        width: 24rem;
        height:3rem;
        border-radius: 5px;
        border:1px solid #ffffff;
        background: transparent;
        padding-left: 20px;
}
.form-subscription input::placeholder{
        color: #ffffff;
}
.get-started{
        width:10rem;
        height: 3rem;
        font-weight: 500;
        border: 2px solid black;
        background-color: #ffffff;
}
.get-started:hover{
        color: #ffffff;
        border: 2px solid white;
}
/* footer */
.footer{
        background-image: url(/assets/image/footer-bg.png) center no-repeat;

}

.footer-social i{
        font-size: 1.5rem;
        color: #777777;
}
.logo-footer a{
        font: 2.3rem "Rubik",sans-serif;
        font-weight: 900;
        background:var(--linear-gradiant);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
}
.logo-footer a::before{
        content: "";
        background: var(--violet);
        position: absolute;
        border-radius: 50%;
        width: 7px;
        height: 7px;
        display: block;
        left: 11rem;
}